<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_1117a:war exploded">
    <output-path>$PROJECT_DIR$/../artifacts/spring_1117a_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_1117a" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_1117a/web/Web" />
    </root>
  </artifact>
</component>